#wrapper {
    margin-top: 2rem;
}

#figh-wrapper {
    width: 70%;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
}

#figh-wrapper > *:first-child, #figh-wrapper > *:last-child {
    flex: 1;
}

.fight-log-wrapper {
    width: 70%;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.btn-wrapper {
    margin: 0 1rem;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
    justify-content: center;
}

.health-indicator {
    width: 75%;
    height: 25px;
    border: 2px solid;
    border-radius: 5px;
    overflow: hidden;
}
  
.health-bar {
    height: 100%;
    width: 100%;
    background-color: #ebd759;
}

.fight-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.fighter-preview {
    width: 50%;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
}

.first-player-damage-log {
    color: red;
}

.second-player-damage-log {
    color: green;
}

.victory-log {
    background-color: yellow;
}

.victory-message {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 5rem;
}